@model CategoryListViewModel

@{
    ViewData["Title"] = "Tüm Kategoriler";
}

<div class="content table-responsive">
    <table id="dataTable" class="table table-hover table-striped">
        <thead>
        <th class="text-center">Sınıf</th>
        <th class="text-center">Kategori Adı</th>
        <th class="text-center">Eklenme Tarihi</th>
        <th class="text-center">Ekleyen (Kullanıcı Adı)</th>
        <th class="text-center">İşlemler</th>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr class="text-center">
                    <td class="list-group-item list-group-item-info" style="display: table-cell">@category.ClassLevel.ClassLevelName</td>
                    <td>@category.CategoryName</td>
                    <td>@category.OnCreated.ToShortDateString()</td>
                    <td>@category.CreatedUser.UserName</td>
                    <td>
                        <a class="btn btn-success" asp-action="GetQuestions" asp-controller="Category" asp-route-id="@category.Id">Soruları</a>
                        <a class="btn btn-info" asp-action="Update" asp-controller="Category" asp-route-id="@category.Id">Güncelle</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Category" asp-route-id="@category.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/assets/js/dataTableApp.js"></script>