@model CategoryListViewModel

@{
    ViewData["Title"] = "Tüm Kategoriler";
}

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Sınav Sistemi</h4>
            <p>Tüm Kategoriler</p>
            <form asp-action="Index" asp-controller="Category" method="get">
                <p class="navbar-right">
                    <input type="text" name="search" placeholder="Kategori Adı Giriniz." />
                    <input type="submit" class="btn btn-info" value="Ara" />
                </p>
            </form>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                <th class="text-center">Sınıf</th>
                <th class="text-center">Kategori Adı</th>
                <th class="text-center">Eklenme Tarihi</th>
                <th class="text-center">Ekleyen (Kullanıcı Adı)</th>
                <th></th>
                </thead>
                <tbody>
                    @foreach (var category in Model.Categories)
                    {
                        <tr class="text-center">
                            <td class="list-group-item list-group-item-info" style="display: table-cell">@category.ClassLevel.ClassLevelName</td>
                            <td>@category.CategoryName</td>
                            <td>@category.OnCreated.ToShortDateString()</td>
                            <td>@category.CreatedUserName</td>
                            <td>
                                <a class="btn btn-success" asp-action="GetQuestions" asp-controller="Category" asp-route-id="@category.Id">Soruları</a>
                                <a class="btn btn-info" asp-action="Update" asp-controller="Category" asp-route-id="@category.Id">Güncelle</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-controller="Category" asp-route-id="@category.Id">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<list-pager controller-name="category" current-page="@Model.CurrentPage" page-count="@Model.PageCount" page-size="@Model.PageSize"></list-pager>