@model ExaminationSystem.MvcCoreWebUI.ViewModels.Users.UserListViewModel
@{
    ViewData["Title"] = "Tüm Kullanıcılar";
}

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Sınav Sistemi</h4>
            <p>@ViewBag.title</p>           
        </div>
        <div class="content table-responsive">
            <table id="dataTable" class="table table-hover table-striped">
                <thead>
                <th class="text-center">Kullanıcı Adı</th>
                <th class="text-center">Email Adresi</th>
                <th class="text-center">Yetkisi</th>
                <th class="text-center">İşlem</th>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Users.Count; i++)
                    {
                        <tr class="text-center">
                            <td>@Model.Users[i].UserName</td>
                            <td>@Model.Users[i].Email</td>
                            <td>
                                @if (Model.UsersRoles != null)
                                {
                                    @Model.UsersRoles[i]
                                }
                            </td>
                            <td><a class="btn btn-info" asp-controller="User" asp-action="RoleAssign" asp-route-userId="@Model.Users[i].Id">Yetki Ata</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/assets/js/dataTableApp.js"></script>